server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/green_energy
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: change-me-super-secret
  expiration: 3600000

interservice:
  ml:
    base-url: http://localhost:8000
    api-key: super-secret-key
    header-name: X-API-Key
